@font-face {
  font-family: 'Asterisk';
  src: url("../font/Asterisk.ttf?97x92f") format("truetype");
  src: url("../font/Asterisk.ttf?97x92f") format("truetype");
  src: url("../font/Asterisk.eot?97x92f");
  src: url("../font/Asterisk.eot?97x92f#iefix") format("embedded-opentype"), url("../font/Asterisk.woff?97x92f") format("woff"), url("../font/Asterisk.svg?97x92f#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'avaFont';
  src: url("../font/lineto-lettera-pro-light.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'PexicoMicro';
  src: url("../font/PexicoMicro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

body {
  /****************************
	*        BOOTSTRAP style
	*****************************/
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative; }
  body ::after, body ::before {
    box-sizing: border-box; }
  body section {
    height: 100%; }
    body section .container-fluid {
      height: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: stretch; }
      body section .container-fluid div.columns {
        align-self: flex-start;
        height: 100%;
        position: relative;
        min-height: 1px;
        box-sizing: border-box;
        font-family: "Ubuntu", "Open Sans", "Helvetica Neue", "Droid Sans Serif", "Roboto", Arial, sans-serif;
        font-size: 12px;
        padding: 3px;
        height: 100%; }
        body section .container-fluid div.columns:first-child {
          width: 25%;
          max-width: 370px;
          border-right: 1px solid #777; }
        body section .container-fluid div.columns div.intro {
          display: block; }
  body .titleAnim {
    -webkit-animation: titleAnim .6s;
    animation: titleAnim .6s;
    /*animation: titleAnim 2s steps(1);*/
    background-color: #96E1E6;
    color: black;
    font-family: "Ubuntu", "Open Sans", "Helvetica Neue", "Droid Sans Serif", "Roboto", Arial, sans-serif; }

@-webkit-keyframes titleAnim {
  0% {
    width: 0;
    color: transparent; }
  60% {
    color: transparent; }
  90% {
    color: black; }
  100% {
    width: initial; } }

@keyframes titleAnim {
  0% {
    width: 0;
    color: transparent; }
  60% {
    color: transparent; }
  90% {
    color: black; }
  100% {
    width: 100%; } }
  body div#menu {
    position: absolute;
    padding: 10px; }
  body div#typeMenu {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 3; }
    body div#typeMenu > div.typeMenu-title {
      position: absolute;
      top: 10%;
      left: 17%;
      transform: translate(-50%, -50%); }
      body div#typeMenu > div.typeMenu-title h2 {
        font-family: "Ubuntu", "Open Sans", "Helvetica Neue", "Droid Sans Serif", "Roboto", Arial, sans-serif;
        font-size: 20px;
        color: #b7b7b7; }
    body div#typeMenu > div.innocentBG {
      width: 100%;
      height: 100%;
      overflow: hidden;
      background-color: #232323; }
      body div#typeMenu > div.innocentBG > div.fixedBigImage {
        width: 100%;
        height: 100%; }
        body div#typeMenu > div.innocentBG > div.fixedBigImage div.typeMapMenu {
          background-position: 50% 50%;
          background-size: cover;
          background-attachment: fixed;
          background-repeat: no-repeat;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: space-between;
          align-items: flex-start;
          width: 70%;
          max-width: 1000px;
          margin: 0 auto;
          padding-top: 13%; }
          body div#typeMenu > div.innocentBG > div.fixedBigImage div.typeMapMenu:hover > div {
            opacity: 0.3; }
            body div#typeMenu > div.innocentBG > div.fixedBigImage div.typeMapMenu:hover > div h3 {
              opacity: 0.2; }
          body div#typeMenu > div.innocentBG > div.fixedBigImage div.typeMapMenu > div {
            cursor: pointer;
            height: 60%;
            width: 30%;
            margin-right: 12px;
            flex-grow: 1;
            background-color: #666;
            position: relative;
            background-position: 50% 50%;
            background-size: cover;
            background-attachment: fixed;
            background-repeat: no-repeat; }
            body div#typeMenu > div.innocentBG > div.fixedBigImage div.typeMapMenu > div:hover {
              opacity: 1; }
              body div#typeMenu > div.innocentBG > div.fixedBigImage div.typeMapMenu > div:hover h3 {
                opacity: 11; }
            body div#typeMenu > div.innocentBG > div.fixedBigImage div.typeMapMenu > div h3 {
              margin: 0;
              padding: 12px 10px 10px;
              background-color: rgba(255, 255, 255, 0.6);
              box-sizing: border-box;
              text-align: center;
              position: absolute;
              bottom: 30px;
              left: 0;
              width: 100%;
              font-family: "avaFont", "Ubuntu", "Open Sans", "Helvetica Neue", "Droid Sans Serif", "Roboto", Arial, sans-serif;
              font-size: 22px; }
          body div#typeMenu > div.innocentBG > div.fixedBigImage div.typeMapMenu-left {
            background-image: url(../img/view-exploring.png);
            animation-name: zoominLeft;
            animation-duration: .8s;
            animation-timing-function: easeInQuad;
            animation-delay: 0;
            -webkit-animation-fill-mode: both;
            /* Safari 4.0 - 8.0 */
            animation-fill-mode: both; }
          body div#typeMenu > div.innocentBG > div.fixedBigImage div.typeMapMenu-center {
            background-image: url(../img/view-underground.png);
            animation-name: zoominCenter;
            animation-duration: .8s;
            animation-timing-function: easeInQuad;
            animation-delay: 0;
            -webkit-animation-fill-mode: both;
            /* Safari 4.0 - 8.0 */
            animation-fill-mode: both; }
          body div#typeMenu > div.innocentBG > div.fixedBigImage div.typeMapMenu-right {
            background-image: url(../img/view-chic.png);
            margin-right: 0;
            animation-name: zoominRight;
            animation-duration: .8s;
            animation-timing-function: easeInQuad;
            animation-delay: 0;
            -webkit-animation-fill-mode: both;
            /* Safari 4.0 - 8.0 */
            animation-fill-mode: both; }
  body.underground div#menu button {
    background: #FFF;
    border: 0;
    color: #000;
    padding: 8px;
    font-family: "PexicoMicro", consolas, "DejaVu Sans Mono", courier, monospace;
    font-size: 17px; }
  body.underground .mapboxgl-popup {
    font-family: "Ubuntu", "Open Sans", "Helvetica Neue", "Droid Sans Serif", "Roboto", Arial, sans-serif;
    max-width: 400px; }
    body.underground .mapboxgl-popup-tip {
      display: none; }
    body.underground .mapboxgl-popup-content {
      border-left: 1px solid #FFF;
      border-radius: 0;
      background-color: transparent;
      transform: translate(51%, 0); }
      body.underground .mapboxgl-popup-content h3, body.underground .mapboxgl-popup-content > p {
        background-color: #111;
        color: #FFF;
        padding: 4px;
        margin: 3px 0; }
      body.underground .mapboxgl-popup-content h3 {
        font-family: "PexicoMicro", consolas, "DejaVu Sans Mono", courier, monospace;
        font-size: 23px;
        display: inline-block; }
    body.underground .mapboxgl-popup-close-button {
      background-color: #96E1E6;
      color: #000;
      height: 20px;
      width: 20px;
      transform: translate(-10px, -22px);
      border-radius: 0; }
    body.underground .mapboxgl-popup-anchor-bottom .mapboxgl-popup-content {
      padding-top: 0;
      padding-bottom: 40px; }
    body.underground .mapboxgl-popup-anchor-top .mapboxgl-popup-content {
      padding-top: 40px;
      padding-bottom: 0px; }
  body.underground .well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: rgba(48, 48, 48, 0.6);
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05); }
    body.underground .well .glitch {
      color: white;
      font-size: 100px;
      position: relative;
      width: 400px;
      margin: 0 auto; }

@keyframes noise-anim {
  0% {
    clip: rect(63px, 9999px, 13px, 0); }
  5% {
    clip: rect(29px, 9999px, 4px, 0); }
  10% {
    clip: rect(92px, 9999px, 3px, 0); }
  15% {
    clip: rect(61px, 9999px, 90px, 0); }
  20% {
    clip: rect(75px, 9999px, 41px, 0); }
  25% {
    clip: rect(80px, 9999px, 36px, 0); }
  30% {
    clip: rect(77px, 9999px, 36px, 0); }
  35% {
    clip: rect(64px, 9999px, 15px, 0); }
  40% {
    clip: rect(38px, 9999px, 37px, 0); }
  45% {
    clip: rect(66px, 9999px, 2px, 0); }
  50% {
    clip: rect(1px, 9999px, 19px, 0); }
  55% {
    clip: rect(85px, 9999px, 27px, 0); }
  60% {
    clip: rect(39px, 9999px, 61px, 0); }
  65% {
    clip: rect(38px, 9999px, 25px, 0); }
  70% {
    clip: rect(92px, 9999px, 13px, 0); }
  75% {
    clip: rect(39px, 9999px, 99px, 0); }
  80% {
    clip: rect(49px, 9999px, 75px, 0); }
  85% {
    clip: rect(6px, 9999px, 48px, 0); }
  90% {
    clip: rect(61px, 9999px, 81px, 0); }
  95% {
    clip: rect(47px, 9999px, 10px, 0); }
  100% {
    clip: rect(51px, 9999px, 20px, 0); } }
    body.underground .well .glitch:after {
      content: attr(data-text);
      position: absolute;
      left: 2px;
      text-shadow: -1px 0 red;
      top: 0;
      color: white;
      background: black;
      overflow: hidden;
      clip: rect(0, 900px, 0, 0);
      animation: noise-anim 2s infinite linear alternate-reverse; }

@keyframes noise-anim-2 {
  0% {
    clip: rect(30px, 9999px, 93px, 0); }
  5% {
    clip: rect(96px, 9999px, 4px, 0); }
  10% {
    clip: rect(52px, 9999px, 30px, 0); }
  15% {
    clip: rect(14px, 9999px, 44px, 0); }
  20% {
    clip: rect(58px, 9999px, 70px, 0); }
  25% {
    clip: rect(24px, 9999px, 58px, 0); }
  30% {
    clip: rect(87px, 9999px, 56px, 0); }
  35% {
    clip: rect(81px, 9999px, 47px, 0); }
  40% {
    clip: rect(37px, 9999px, 36px, 0); }
  45% {
    clip: rect(6px, 9999px, 81px, 0); }
  50% {
    clip: rect(94px, 9999px, 92px, 0); }
  55% {
    clip: rect(92px, 9999px, 15px, 0); }
  60% {
    clip: rect(39px, 9999px, 58px, 0); }
  65% {
    clip: rect(84px, 9999px, 39px, 0); }
  70% {
    clip: rect(51px, 9999px, 44px, 0); }
  75% {
    clip: rect(32px, 9999px, 89px, 0); }
  80% {
    clip: rect(17px, 9999px, 53px, 0); }
  85% {
    clip: rect(25px, 9999px, 47px, 0); }
  90% {
    clip: rect(55px, 9999px, 68px, 0); }
  95% {
    clip: rect(37px, 9999px, 76px, 0); }
  100% {
    clip: rect(20px, 9999px, 41px, 0); } }
    body.underground .well .glitch:before {
      content: attr(data-text);
      position: absolute;
      left: -2px;
      text-shadow: 1px 0 blue;
      top: 0;
      color: white;
      background: black;
      overflow: hidden;
      clip: rect(0, 900px, 0, 0);
      animation: noise-anim-2 3s infinite linear alternate-reverse; }

@keyframes zoomin {
  from {
    transform: scale(1.3, 1.3); }
  to {
    transform: scale(1, 1); } }

@keyframes zoominLeft {
  from {
    transform: scale(1.3, 1.3) translate(-60px, -4%); }
  to {
    transform: scale(1, 1) translate(0px, 0); } }

@keyframes zoominCenter {
  from {
    transform: scale(1.4, 1.4) translate(0px, -4%); }
  to {
    transform: scale(1, 1) translate(0px, 0); } }

@keyframes zoominRight {
  from {
    transform: scale(1.28, 1.28) translate(40px, -3%); }
  to {
    transform: scale(1, 1) translate(0px, 0); } }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  div#inter_keyboard {
    display: block; }
  div#form form#CLI_form input[type=submit] {
    display: none; } }
