$font-title: 'Ubuntu', 'Open Sans', 'Helvetica Neue', 'Droid Sans Serif', 'Roboto', Arial, sans-serif;
$font-monospace: 'PexicoMicro', consolas, 'DejaVu Sans Mono', courier, monospace;
$font-ava: 'avaFont', $font-title;

@font-face {
	font-family: 'Asterisk';
	src:  url('../font/Asterisk.ttf?97x92f') format('truetype');
	src:  url('../font/Asterisk.ttf?97x92f') format('truetype');
	src:  url('../font/Asterisk.eot?97x92f');
	src:  url('../font/Asterisk.eot?97x92f#iefix') format('embedded-opentype'),
		url('../font/Asterisk.woff?97x92f') format('woff'),
		url('../font/Asterisk.svg?97x92f#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'avaFont';
	src:  url('../font/lineto-lettera-pro-light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PexicoMicro';
	src:  url('../font/PexicoMicro.ttf') format("truetype");
	      // url('../font/PexicoMicro.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Bellerose';
	src:  url('../font/Bellerose.ttf') format("truetype");
	      // url('../font/PexicoMicro.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body{
	/****************************
	*        BOOTSTRAP style
	*****************************/
	width:100%;height:100%;
	margin:0;padding:0;
	position:relative;
	::after, ::before{
		box-sizing: border-box;
	}


	section{
		height: 100%;
		.container-fluid{
			height: 100%;

			display:flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: flex-start;
			align-items: stretch;
			div.columns{
				align-self: flex-start;
				height: 100%;
				position: relative;
				min-height: 1px;
				box-sizing: border-box;
				font-family: $font-title;
				font-size: 12px;
				// max-height: 75vh;
				padding:3px;

				// display: flex;
				// align-items: center;
				height: 100%;
				&:first-child{
					width: 25%;
					max-width: 370px;
					border-right: 1px solid #777;
				}
				div.intro{
					display:block;
				}
			}
		}
	}

	.titleAnim {
	  -webkit-animation: titleAnim .6s;
	          animation: titleAnim .6s;
	  /*animation: titleAnim 2s steps(1);*/

	  background-color: #96E1E6;
		color:rgba(0,0,0,1);
	  font-family: $font-title;
	}


	@-webkit-keyframes titleAnim {
	  0% {
	    width: 0;
	    color:rgba(0,0,0,0);
	  }
	  60% {
	  	color:rgba(0,0,0,0);
	  }
	  90% {
	  	color:rgba(0,0,0,1);
	  }
	  100% {
	    width: initial;
	  }
	}

	@keyframes titleAnim {
	  0% {
	    width: 0;
	    color:rgba(0,0,0,0);
	  }
	  60% {
	  	color:rgba(0,0,0,0);
	  }
	  90% {
	  	color:rgba(0,0,0,1);
	  }
	  100% {
	    width: 100%;
	  }
	}

	div#menu{
		position: absolute;
		// background: #fff;
		padding: 10px;
	}
	div#typeMenu{
		display:none;
		cursor: url(../img/close.ico) 32 32, auto;
		position:absolute;
		top:0;bottom:0;left:0;right:0;
		width:100%; height:100%;
		z-index: 3;
		& > div.typeMenu-title{
			position: absolute;
			top: 10%;
			left: 17%;
			transform: translate(-50%, -50%);
			h2{
				font-family: $font-title;
				font-size: 20px;
				color: #b7b7b7;
			}
		}
		& > div.innocentBG{
			width:100%; height:100%;
			overflow: hidden;
			background-color: #232323;
			& > div.fixedBigImage{
				width:100%; height:100%;
				padding-top: 13%;
				// background: url(../img/view-underground.png) 50% 50% / cover fixed no-repeat;

				// transform: scale(1.2);
				// animation-name: zoomin; // from 1.3 to 1.0
				// animation-duration: 1.7s;
				// animation-timing-function:easeInQuad;
				// animation-delay: 0.1s;
				// -webkit-animation-fill-mode: both; /* Safari 4.0 - 8.0 */
				// animation-fill-mode: both;

				div.typeMapMenu{
					background-position: 50% 50%;
					background-size: cover;
					background-attachment: fixed;
					background-repeat: no-repeat;
					display: flex;
					flex-direction: row;
					flex-wrap: nowrap;
					justify-content: space-between;
					align-items: flex-start;

					width: 70%;
					height: 60%;
					max-width: 1000px;
					margin: 0 auto;
					&:hover > div{
						opacity:0.3;
						h3{ opacity:0.2; }
					}
					& > div{
						cursor: pointer;
						height: 100%;
						width:30%;
						margin-right: 12px;
						// transform: translateY(12%);
						flex-grow: 1;
						background-color: #666;
						position: relative;
						background-position: 50% 50%;
						background-size: auto;
						background-attachment: fixed;
						background-repeat: no-repeat;
						border: 2px solid transparent;
						&:hover{
							opacity:1;
							border: 2px solid #FFF;
							h3{ opacity:1;}
						}
						h3{
							margin:0;
							padding:12px 10px 10px;
							background-color: rgba(255,255,255,0.6);
							box-sizing: border-box;
							text-align: center;
							position: absolute;
							bottom:30px;
							left: 0;
							width: 100%;
							font-family: $font-ava;
							font-size: 22px;
						}
					}
					&-left{
						background-image: url(../img/view-exploring.png);

						animation-name: zoominLeft; // from 1.3 to 1.0
						animation-duration: .8s;
						animation-timing-function:easeInQuad;
						animation-delay: 0;
						-webkit-animation-fill-mode: both; /* Safari 4.0 - 8.0 */
						animation-fill-mode: both;
					}
					&-center{
						background-image: url(../img/view-underground.png);

						animation-name: zoominCenter; // from 1.3 to 1.0
						animation-duration: .8s;
						animation-timing-function:easeInQuad;
						animation-delay: 0;
						-webkit-animation-fill-mode: both; /* Safari 4.0 - 8.0 */
						animation-fill-mode: both;
					}
					&-right{
						background-image: url(../img/view-chic.png);
						margin-right: 0;

						animation-name: zoominRight; // from 1.3 to 1.0
						animation-duration: .8s;
						animation-timing-function:easeInQuad;
						animation-delay: 0;
						-webkit-animation-fill-mode: both; /* Safari 4.0 - 8.0 */
						animation-fill-mode: both;
					}
				}
			}
		}
	}
	&.chic{
		div#menu{
			// &:before{
			button{
				color:transparent;
				background-image: url(../img/ChicMenu.svg);
				width: 100px;
				height: 56px;
				background-size: 100% auto;
				display: inline-block;
				content: '';
				background-position: 0 0;
				background-repeat: no-repeat;
				cursor:pointer;
				border: 0;
				background-color: rgba(69,69,69,0.7);
			}
		}

		.mapboxgl-popup{
			font-family: $font-title;
			max-width: 400px;
			color:#FFF;
			&-content{
				background: #454545 url(../img/Chic_angle.svg) 16px 16px /120px auto no-repeat;
				padding: 45px 39px;
				// border-left: 1px solid #FFF;
				border-radius: 0;
				// background-color: transparent;
				// transform: translate(51%, 0);
				h3, & > p{
					// background-color: #111;
					color: #FFF;
					// padding:4px;
					margin: 3px 0;
					display: block;
				}
				h3{
					font-family: 'Bellerose';
					font-size: 23px;
					// display: inline-block;
				}
				& > p small:before{
					content: '– ';
				}
			}
			&-close-button{
				font-size: 20px;
				color: #000;
				// background-color: #96E1E6;
				// height: 20px;
				// width: 20px;
				// transform: translate(-10px, -22px);
				// border-radius: 0;
			}
			&-anchor-bottom > div{
				transform: translateY(-60px);
				&.mapboxgl-popup-tip{
					border-top-color: #454545;
				}
			}
			&-anchor-top > div{
				transform: translateY(60px);
				&.mapboxgl-popup-tip{
					border-bottom-color: #454545;
				}
			}
		}
	}
	&.underground{
		div#menu{
			button{
				background: #FFF;
				border:0;
				color: #000;
				padding:8px;
				font-family: $font-monospace;
				font-size: 17px;
			}
		}

		.mapboxgl-popup{
			font-family: $font-title;
			max-width: 400px;
			&-tip{display:none;}
			&-content{
				border-left: 1px solid #FFF;
				border-radius: 0;
				background-color: transparent;
				transform: translate(51%, 0);
				h3, & > p{
					background-color: #111;
					color: #FFF;
					padding:4px;
					margin: 3px 0;
					display: block;
				}
				h3{
					font-family: $font-monospace;
					font-size: 23px;
					display: inline-block;
				}
				& > p:last-child{
					display:inline-block;
				}
			}
			&-close-button{
				background-color: #96E1E6;
				color: #000;
				height: 20px;
				width: 20px;
				transform: translate(-10px, -22px);
				border-radius: 0;
				font-size: 20px;
			}
			&-anchor-bottom .mapboxgl-popup-content{
				padding-top: 0;
				padding-bottom: 40px;
			}
			&-anchor-top .mapboxgl-popup-content{
				padding-top: 40px;
				padding-bottom: 0px;
			}
		}


		.well {
		    min-height: 20px;
		    padding: 19px;
		    margin-bottom: 20px;
		    background-color: rgba(48, 48, 48, 0.6);
		    border: 1px solid transparent;
		    border-radius: 4px;
		    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
		    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);

		    // -webkit-box-shadow: none;
		    // box-shadow: none;

				.glitch{
				  color:white;
				  font-size:100px;
				  position:relative;
				  width:400px;
				  margin:0 auto;
				}
				@keyframes noise-anim{
				  $steps:20;
				  @for $i from 0 through $steps{
				    #{percentage($i*(1/$steps))}{
				      clip:rect(random(100)+px,9999px,random(100)+px,0);
				    }
				  }
				}
				.glitch:after{
				  content:attr(data-text);
				  position:absolute;
				  left:2px;
				  text-shadow:-1px 0 red;
				  top:0;
				  color:white;
				  background:black;
				  overflow:hidden;
				  clip:rect(0,900px,0,0);
				  animation:noise-anim 2s infinite linear alternate-reverse;
				}

				@keyframes noise-anim-2{
				  $steps:20;
				  @for $i from 0 through $steps{
				    #{percentage($i*(1/$steps))}{
				      clip:rect(random(100)+px,9999px,random(100)+px,0);
				    }
				  }
				}
				.glitch:before{
				  content:attr(data-text);
				  position:absolute;
				  left:-2px;
				  text-shadow:1px 0 blue;
				  top:0;
				  color:white;
				  background:black;
				  overflow:hidden;
				  clip:rect(0,900px,0,0);
				  animation:noise-anim-2 3s infinite linear alternate-reverse;
				}
		}
	} // fin de body.underground
} // fin body

@keyframes zoomin {
    from {transform: scale(1.3,1.3);}
    to {transform: scale(1,1);}
}

@keyframes zoominLeft {
    from {transform: scale(1.3,1.3) translate(-60px, -4%);}
    to {transform: scale(1,1) translate(0px, 0);}
}
@keyframes zoominCenter {
    from {transform: scale(1.4,1.4) translate(0px, -4%);}
    to {transform: scale(1,1) translate(0px, 0);}
}
@keyframes zoominRight {
    from {transform: scale(1.28,1.28) translate(40px, -3%);}
    to {transform: scale(1,1) translate(0px, 0);}
}


/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  div#inter_keyboard{
    display:block;
  }
  div#form form#CLI_form input[type=submit]{
    display:none;
  }
}
